<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">

    <title>{{ page.title }}</title>

    {% if page.image %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="{{ page.image | prepend: site.url }}" />
    {% endif %}

</head>

<body>
